/* For styling the project */

.topnav {
    overflow: hidden;
    background-color: none;
    opacity: 0.6;
}

.topnav a {
    float: left;
    display: block;
    color: aqua;
    text-align: none;
    padding: 8px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: violet;
    color: white;
}



